@font-face {
	font-family: BigJohn;
	src: url(../fonts/BigJohn.otf) format("opentype");
}

@font-face {
	font-family: SlimJoe;
	src: url(../fonts/Slim+Joe.otf) format("opentype");
}

.header {
	height: 650px;
	background: url(../img/computer.png) no-repeat;
}

.header__wrap {
	padding-top: 36px;
}

.header__logo {
	margin: 0;
	height: 99px;
	width: 174px;
	display: inline-block;
}

.header__nav {
	width: 560px;
	margin-top: 40px;
	float: right;
}

.header__navEl {
	width: 25%;
	color:  #ffffff;
	text-align: center;
}

.header__navEl:not(:last-child):after {
	content: '/';
	float: right;
}

.nav {
	font-size: 0;
	list-style: none;
}

.nav__el {
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
}

.nav__a {
	text-decoration: none;
}

.nav__a:visited {
	color: white;
}

.heading {
	margin-top: 140px;
	font-family: SlimJoe;
	color:  #ffffff;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
}
.heading__main {
	font-family: BigJohn;
	margin: 0;
}

.heading__alt {
	margin: 20px 0 0;
}

.heading__button {
	background: transparent;
	color: #48bf72;
	border-radius: 3px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border: 2px solid #48bf72;
	width: 134px;
	height: 35px;
	font: 700 14px/25px "Lato";
	text-align: center;
	margin-top: 40px;
	text-transform: uppercase;
}

.wrap {
	width: 1140px;
	margin: 0 auto;
}

.portfolio {
	height: 1050px;
	padding: 50px 0;
}

.portfolio__nav {
	text-align: center;
	margin-bottom: 18px;
}

.portfolio__navEl {
	color: #3c4955;
	background-color: #eaeaea;
	border-radius: 2px;
	padding: 15px 10px;
}

.portfolio__navEl:hover {
	background-color:  #48bf72;
	color: white;
	transform: scale(1.1);
}

.portfolio__navEl:not(:last-child) {
	margin-right: 14px;
}

.projects__image {
	border-radius: 10px;
	position: relative;
}

.projects__image--small {
	width: 450px;
}

.projects__image--large {
	width: 650px;
}

.projects__image--long {
	height: 400px;
}

.projects__image--short {
	height: 300px;
}

.projects_mask {
	display: inline-block;
	position: relative;
	margin-top: 36px;
	font-size: 0;
}

.projects_mask:nth-child(even) {
	margin-left: 36px;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #48bf72;
	opacity: 0;
	text-align: center;
	border-radius: 10px;
}

.mask:hover {
	opacity: 0.7;
}

.smallHeading {
	color: white;
	font-family: Lato;
	line-height: 30px;
	position: absolute;
	top: 30%;
	margin: auto;
	left: 0;
	right: 0;
}

.smallHeading__header {
	font-weight: 700;
	font-size: 30px;
}

.smallHeading__subtitle { 
	font-weight: 400;
	font-size: 16px;
}