.container {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
}

.ripple {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 4px solid pink;
    border-radius: 50%;
    zoom: 0;
    animation: rippleEfect 1.5s;
}

@keyframes rippleEfect {
    to{
        transform: zoom: 1; opacity: 0;
    }
}
